University of Minnesota Twin Cities Mail - ASE 2017 Paper Notification [351] - Reject.pdf
Springer-OA-CC-BY.pdf
*.log
tmp/document.aux
out/document.pdf
*.gz
.texlipse
*.project
tmp/document.out
/out/
/tmp/
